@import url('https://fonts.googleapis.com/css2?family=Allura&family=Amiri&display=swap');




#side-bar{
    background-color: #FFF8E1;
    position: relative;
    height: 610vh; 
    


    
}

#teal-page{
    background-color: #FFFBED;
    height:100vh;  
    /*cambiar */

}

#icons{
    display: flex;
    justify-content: space-around;
    padding: 12% 2%;

}

#icon{
    border-radius: 5%;
}

ion-icon{
    font-size: 48px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 50%;

}

#logo img{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}





#category{
    
}

#category h5{
    padding-left: 5%;
    font-family: 'Amiri';
    font-size: 2.2rem;
    padding-bottom: 4%;
    

}

#category-items{
    padding-left: 10%;
}

#category-items p{
    padding-bottom: 5%;
}
#category-items span{
    font-size: 1.6rem;
    font-family: 'Amiri';
    color: black;
}


/* Cambia el color de los input radio de materialize
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #eeee29;
    background-color: #FFB74D;



} */


/* quitar el color de a*/
a{
    color: black;
}

#title-box{
    font-family: "Allura";
    text-align: center;
    padding-top: 10%;
    
}

#title-box h1{
    font-size: 128px;

}



.card-content{
    height: 18vh;
    overflow: hidden;
}

.card-index-image img{
    object-fit: cover;
    height: 300px; /* Ajusta la altura deseada */

}


.card-title{
    padding-top: 0;
    margin-top: 0;

}









.logo-container img{
    /* hacer el icono a la izquierda */
    position: relative;
    left: -2%;

    width: 15%;




}

.logo-container-index img{
    /* hacer el icono a la izquierda */
    position: relative;
    

    width: 20%;




}

.logo-container-index h1{
    font-family: 'Allura';
    padding: 0;
    margin: 0;
    font-size: 6.5rem;
    margin-bottom: 7%;
}

.logo-container2 img{
    position: relative;
    width: 100%;

    left: -20%;

}

.general-container{
    background: #FFFBED;
}
.general-container h2{
    font-family: "Allura";
    text-align: center;
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
}

.login-container{
    background: #FFF8E1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}


h3{
    font-family: 'Amiri';
}
#login-form{
    padding-bottom: 10%;
    padding-top: 10%;
}
#login-form button{
    margin-top: 5%;
    margin-bottom: 5%;
}
#login-form input{
    margin-bottom: 5%;

}

/*cambiar el relleno  de los input text*/  
input[type=text]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #FFB74D;
    box-shadow: 0 1px 0 0 #FFB74D;
}


.error-container{
    background-color: #FFF8E1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 25% 15%;
    align-items: center;
   
  

   
}

#sad-icon {
    font-size: 96px;
    box-shadow: none;
}

.error-container h3{
    font-family: 'Amiri';
    font-weight: 700;
    font-size: 2rem;
    padding-left: 8%;
    padding-right: 8%;
    text-align: center;
    line-height: 3rem;
}
#return-button{

    margin-bottom: 5%;
}

.order-text{
    padding-top: 8%;
    padding-left: 32.5%;
}


.book-container{
    /*Mover el contenedor hacia arriba*/
    margin-top: -12%;
}
.book-container h3{
    font-weight: 500;
    font-size: 3.8rem;
}
.book-container h5{
    font-family: 'Amiri';
    line-height: 5.5vh;
    font-weight: 600;
    font-size: 2.1rem;
}
