@import url('https://fonts.googleapis.com/css2?family=Allura&family=Amiri&display=swap');


#side-bar{
    background-color: #FFF8E1;
    position: relative;
    height:130vh;   

    
}

#teal-page{
    background-color: #FFFBED;
    height: 130vh;

}

#icons{
    display: flex;
    justify-content: space-around;
    padding: 12% 2%;

}

#icon{
    border-radius: 5%;
}

ion-icon{
    font-size: 48px;
    /* agregar sombra circular*/
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 50%;

}

#logo img{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#category{
    
}
#category h5{
    padding-left: 5%;
    font-family: 'Amiri';

}

#category-items{
    padding-left: 10%;


}
/* Cambia el color de los input radio de materialize
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #eeee29;
    background-color: #FFB74D;



} */


/* quitar el color de a*/
a{
    color: black;
}

#title-box{
    font-family: "Allura";
    text-align: center;
    padding-top: 10%;
    
}

#title-box h1{
    font-size: 128px;

}
.card-content h6{
    padding: 0;
    margin: 0;
    text-align: center;
   
}

.logo-container img{

    width: 15%;


}

.logo-container2 img{

    width: 100%;


}

.general-container{
    background: #FFFBED;
}
.general-container h2{
    font-family: "Allura";
    text-align: center;
    font-size: 4.5rem;
    padding: 0;
    margin: 0;
}

.login-container{
    background: #FFF8E1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}


h3{
    font-family: 'Amiri';
}
#login-form{
    padding-bottom: 10%;
    padding-top: 10%;
}
#login-form button{
    margin-top: 5%;
    margin-bottom: 5%;
}
#login-form input{
    margin-bottom: 5%;

}

/*cambiar el relleno  de los input text*/  
input[type=text]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #FFB74D;
    box-shadow: 0 1px 0 0 #FFB74D;
}


.error-container{
    background-color: #FFF8E1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 25% 15%;
    align-items: center;
   
  

   
}

#sad-icon {
    font-size: 96px;
    box-shadow: none;
}

.error-container h3{
    font-family: 'Amiri';
    font-weight: 700;
    font-size: 2rem;
    padding-left: 8%;
    padding-right: 8%;
    text-align: center;
    line-height: 3rem;
}
#return-button{

    margin-bottom: 5%;
}

.order-text{
    padding-top: 8%;
    padding-left: 32.5%;
}